html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Roboto:300,400,500,700,900&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		title Kryte test
	body
		main
			section.main
				.container-fluid.container-lg
					.header.row
						.col-6.col-xl-7.d-flex.logo.order-0
							img(src="./assets/img/logo.png" alt="logo")
							p.logo-name Giant
						nav.col-12.col-md-3.order-2.order-md-0
							ul.main-menu.d-flex
								li.main-menu__item
									a.main-menu__link(href="#") Home
								li.main-menu__item
									a.main-menu__link(href="#") Features
								li.main-menu__item
									a.main-menu__link(href="#") Pricing
						.col-6.col-md-3.col-xl-2.header-button.order-1
							button.header-button__button Download Now
					.col-12.col-md-5.main-screen
						h1.main-heading A Powerful & Unique App Landing Template
						p.main-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						ul.main-list.fa-ul
							li.main-list__item 							
								span.fa-li
									i.fas.fa-check-circle
								| Unlimited colors: banner with images, slider or video
							li.main-list__item
								span.fa-li
									i.fas.fa-check-circle
								| Fully Responsive and powered by HTML5 and CSS3
							li.main-list__item
								span.fa-li
									i.fas.fa-check-circle
								| Very easy to customize : set up in minutes
					.main-button
						button.main-button__button Start Exploring Us
			section.advantages
				.container-fluid.container-lg
					.row
						.advantage.col-lg-4.col-md-6.d-flex.align-items-center
							i.advantage-img.fas.fa-tags
							.advantage-text
								h3.advantage-heading Sell any product online
								p.advantage-description Over 92% of computers are infected with Adware and spyware. Such software is 
						.advantage.col-lg-4.col-md-6.d-flex.align-items-center
							i.advantage-img.fas.fa-cog
							.advantage-text
								h3.advantage-heading Very easy to customize
								p.advantage-description Many of us are so used to working on a computer desktop that when it comes 
						.advantage.col-lg-4.col-md-6.d-flex.align-items-center
							i.advantage-img.fas.fa-paint-brush
							.advantage-text
								h3.advantage-heading Unlimited colors
								p.advantage-description Audio player software is used to play back sound recordings in one of the many
						.advantage.col-lg-4.col-md-6.d-flex.align-items-center
							i.advantage-img.fas.fa-fire-extinguisher
							.advantage-text
								h3.advantage-heading Responsive, HTML5, CSS3
								p.advantage-description Computers have become ubiquitous in almost every facet of our lives. At work
						.advantage.col-lg-4.col-md-6.d-flex.align-items-center
							i.advantage-img.fas.fa-file-alt
							.advantage-text
								h3.advantage-heading Designed to convert
								p.advantage-description If you are looking for a new way to promote your business that won’t cost
						.advantage.col-lg-4.col-md-6.d-flex.align-items-center
							i.advantage-img.fas.fa-life-ring
							.advantage-text
								h3.advantage-heading With no boundaries
								p.advantage-description Now, if you are interested in being the best player, getting really good money and 
					hr.advantages-hr
			section.learning
				.container-fluid.container-lg
					.row
						.col-12.col-md-6
							img.learning-img(src="./assets/img/iphone.png" alt="iphone")
						.col-12.col-md-6
							h2.learning-heading We don’t leave you stranded
							p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
							br
							p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer
							ul.learning-list.fa-ul
								li.learning-list__item
									span.fa-li
										i.fas.fa-check-circle
									| Unlimited colors: banner with images, slider or video
								li.learning-list__item
									span.fa-li
										i.fas.fa-check-circle
									| Fully Responsive and powered by HTML5 and CSS3
								li.learning-list__item
									span.fa-li
										i.fas.fa-check-circle
									| Very easy to customize : set up in minutes
			section.screenshots
				.container-fluid.container-lg
					h2.screenshots-heading Take a look at our screenshots
					p.screenshots-description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a
						br
						| UX designer, why develop this totally separate skill?
					.screenshots-slider
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
						.slider-item
							img(src="./assets/img/portfolio1.png", alt="slider image")
			section.prices
				.container-fluid.container-lg
					h2.prices-heading We've got the perfect package for you
					p.prices-description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a 
						br
						| UX designer, why develop this totally separate skill?
					.row
						.col-lg-3.col-md-6.col-12
							.price-card
								h3.price-card__heading Basic
								.price-card__price
									.number
										span.dollar $
										span.price-total 12.0
										span.price-pMinute /m
									.price-borders
										.border-left
										.border-right
								ul.price-card__list
									li.price-card__list-item One User
									li.price-card__list-item Multiple Access
									li.price-card__list-item SMS Support
									li.price-card__list-item 24/7 Online Support
								.price-card__link
									a(href="#") Start Free Trial
								.price-card__button
									button Buy Now
						.col-lg-3.col-md-6.col-12
							.price-card
								h3.price-card__heading Standard
								.price-card__price 
									.number
										span.dollar $
										span.price-total 24.0
										span.price-pMinute /m
									.price-borders
										.border-left
										.border-right
								ul.price-card__list
									li.price-card__list-item Five User
									li.price-card__list-item Multiple Access
									li.price-card__list-item SMS Support
									li.price-card__list-item 24/7 Online Support
								.price-card__link
									a(href="#") Start Free Trial
								.price-card__button
									button Buy Now
						.col-lg-3.col-md-6.col-12
							.price-card
								h3.price-card__heading Premium
								.price-card__price 
									.number
										span.dollar $
										span.price-total 250.0
										span.price-pMinute /m
									.price-borders
										.border-left
										.border-right
								ul.price-card__list
									li.price-card__list-item Twenty User
									li.price-card__list-item Multiple Access
									li.price-card__list-item SMS Support
									li.price-card__list-item 24/7 Online Support
								.price-card__link
									a(href="#") Start Free Trial
								.price-card__button
									button Buy Now
						.col-lg-3.col-md-6.col-12
							.price-card
								h3.price-card__heading Enterprise
								.price-card__price 
									.number
										span.dollar $
										span.price-total 999.0
										span.price-pMinute /m
									.price-borders
										.border-left
										.border-right
								ul.price-card__list
									li.price-card__list-item Unlimited User
									li.price-card__list-item Multiple Access
									li.price-card__list-item SMS Support
									li.price-card__list-item 24/7 Online Support
								.price-card__link
									a(href="#") Start Free Trial
								.price-card__button
									button Buy Now
			section.video
				.container-fluid.container-lg.d-flex.play
					i.fas.fa-play.play-icon
			section.feedback
				.container-fluid.container-lg
					h2.feedback-heading What our customers are saying
					p.feedback-description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a
						br
						| UX designer, why develop this totally separate skill?
					.feedback-slider.row
						.col-lg-4.col-12
							.feedback-card
								.feedback-card__text The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable
								.feedback-card__user.d-flex
									img.user-avatar(src="./assets/img/Alexandra.png" alt="user")
									.user-data
										.user-name Alexandra Bullock
										.user-company Apple inc.
						.col-lg-4.col-12
							.feedback-card
								.feedback-card__text Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
								.feedback-card__user.d-flex
									img.user-avatar(src="./assets/img/Gary.png" alt="user")
									.user-data
										.user-name Gary Sebastian
										.user-company Apple inc.
						.col-lg-4.col-12
							.feedback-card
								.feedback-card__text Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.
								.feedback-card__user.d-flex
									img.user-avatar(src="./assets/img/Samantha.png" alt="user")
									.user-data
										.user-name Samantha Bilbau
										.user-company Apple inc.
			section.download
				.container-fluid.container-lg
					h2.download-heading Download Giant App Now
					.row
						.col-lg-4.col-12
							.download-source.d-flex
								img.download-source__img(src="./assets/img/Mac.png" alt="mac icon")
								.download-source__src
									h3.download-source__heading Download
									p.download-source__description Download from app store
						.col-lg-4.col-12
							.download-source.d-flex
								img.download-source__img(src="./assets/img/Android.png" alt="android icon")
								.download-source__src
									h3.download-source__heading Download
									p.download-source__description Download from play store
						.col-lg-4.col-12
							.download-source.d-flex
								img.download-source__img(src="./assets/img/Windows.png" alt="windows icon")
								.download-source__src
									h3.download-source__heading Download
									p.download-source__description Download from microsoft store
			footer
				.container-fluid.container-lg
					.social.d-flex
						a(href="#")
							i.fab.fa-facebook-f
						a(href="#")
							i.fab.fa-twitter
						a(href="#")
							i.fab.fa-dribbble
						a(href="#")
							i.fab.fa-behance
					.copyright
						p Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com		
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
	